*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(167, 189, 189);
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 18vw;
    height: 100vh;
    background-color: rgb(56, 112, 197);
    display: grid;
    grid-template-rows: 20% repeat(5,10%) repeat(2,15%);
}
span{
    text-align: center;
    position: relative;
    top: -22px;
    font-weight: 700;
    font-size: larger;
    color:azure;
    font-family: sans-serif;
}
.side{
    padding-left: 10px;
}
span[name='dash']{
    font-size: 24px;
    position: relative;
    top: -28px;
}
.main{
    flex: 1;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
}